<%- include('header') _%>

<h2>this is about page</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia harum veritatis
  expedita voluptates deserunt dolore laboriosam asperiores? Reprehenderit
  earum, deserunt, ea, nisi ipsum eveniet aliquam dicta fugiat possimus
  inventore fugit.
</p>
<%- include('footer') _%>
